<div class="block-md">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." ng-model="query" ng-change="getByName(query)">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="row block-xs">
        <div class="col-sm-7 col-sm-offset-2">
            <strong>Sort by: </strong>
            <a href="" ng-click="sort('price')">price
                <i class="glyphicon" ng-class="{'glyphicon-chevron-up': isSortUp('price'),
                              'glyphicon-chevron-down': isSortDown('price')}"></i>
            </a> |
            <a href="" ng-click="sort('name')">name
                <i class="glyphicon" ng-class="{'glyphicon-chevron-up': isSortUp('name'),
                              'glyphicon-chevron-down': isSortDown('name')}"></i>
            </a>
        </div>
    </div>
</div>

<div class="watches-list">
    <div ng-repeat="watch in watches | orderBy:orderField:orderReverse">
        <div class="row watches-item">
            <div class="col-xs-2">
                <img ng-src="{{watch.PictureUrls[0]}}"/>
            </div>
            <div class="col-xs-10 col-sm-7">
                <h4>
                    <a href="#/watch/{{watch.Id}}">{{watch.Name}}</a>
                </h4>
                <div class="watches-item-model">
                    <strong>Model: </strong>{{watch.Model}}
                </div>
                <a href="#/watch/{{watch.Id}}">
                    <div class="btn btn-default btn-sm">See more colors</div>
                </a>
                <div class="watches-item-desc">
                    {{watch.Desc}}
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-2 col-sm-3 col-sm-offset-0">
                <a href="#">
                    <div class="btn btn-primary btn-sm btn-block">
                        <strong>
                            <span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                        </strong>
                    </div>
                </a>
                <div class="watches-item-price text-center block-sm">${{watch.Price}}</div>
            </div>
        </div>
        <hr/>
    </div>
</div>

    <h4>Default</h4>
    <!--<div uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></div>-->
    <!--<div uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></div>-->
    <!--<div uib-pagination direction-links="false" boundary-links="true" total-items="totalItems" ng-model="currentPage"></div>-->
    <!--<div uib-pagination direction-links="false" total-items="totalItems" ng-model="currentPage" num-pages="smallnumPages"></div>-->
    <!--<pre>The selected page no: {{currentPage}}</pre>-->
    <!--<button type="button" class="btn btn-info" ng-click="setPage(3)">Set current page to: 3</button>-->

    <!--<hr />-->
    <!--<h4>Pager</h4>-->
    <!--<uib-pager total-items="totalItems" ng-model="currentPage"></uib-pager>-->

    <!--<hr />-->
    <!--<h4>Limit the maximum visible buttons</h4>-->
    <div uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></div>
    <!--<div uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></div>-->
    <pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>